<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            Menü
        </div>
        <div class="span10">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputEmail"><kdb>B</kdb>enutzername</label>
                    <div class="controls">
                        <input class="accessibility" type="text" id="inputEmail" placeholder="User" autofocus accesskey="b">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword"><kbd>K</kbd>ennwort</label>
                    <div class="controls">
                        <input class="accessibility" type="password" id="inputPassword" placeholder="Password" accesskey="k">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input class="accessibility" type="checkbox" accesskey="m"><kdb>M</kdb>erken
                        </label>
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>